/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #393a3d;
  background: #FAFAFA;
  font-style: normal;
  text-align: center;
  font-family: "Atlas Grotesk Web", Helvetica, sans-serif;
}

.fadeable {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s, transform 1s;
  &.in-view {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeable-later {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 2s, transform 2s;
  &.in-view {
    transform: translateY(0);
    opacity: 1;
  }
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.inner {
  text-align: center;
  padding:30px;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 13px;
  color: #777; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #393a3d;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #393a3d;
  border-bottom-color: #393a3d;
}

@media (min-width: 768px) {
  .masthead-brand {
    font-family: "Canela Web", Helvetica, sans-serif;
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/* Featurettes
------------------------- */
.featurette {
  .lead {
    font-size:13px;
    font-weight: normal;
    line-height:2;
    font-family: "Atlas Grotesk Web", Helvetica, sans-serif;
  }
  margin-bottom:80px;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
  font-family: "Canela Web", Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: -1px;
  margin-bottom:40px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .featurette-heading {
    font-size: 37px;
    letter-spacing: 8px;
  }
  .payoff {
    margin-top:200px;
    width: 700px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}