@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../../fonts/AtlasGrotesk-Medium-Web.eot');
  src: url('../../fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/AtlasGrotesk-Medium-Web.woff') format('woff'),
  url('../../fonts/AtlasGrotesk-Medium-Web.ttf') format('truetype'),
  url('../../fonts/AtlasGrotesk-Medium-Web.svg#Atlas Grotesk Web') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Canela Web';
  src: url('../../fonts/Canela-Light-Web.eot');
  src: url('../../fonts/Canela-Light-Web.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Canela-Light-Web.woff2') format('woff2'),
  url('../../fonts/Canela-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}