/* Mobile First Styles
-------------------------------------------------- */

body {
  padding-bottom: 40px;
  color: #393a3d;
  background-image: url('../img/bg/stucco/stucco.png');
  font-style: normal;
  text-align: center;
  font-family: "Atlas Grotesk Web", Helvetica, sans-serif;
}

.logo {
  position:fixed;
  top:10px;
  left:0;
  height: 140px;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.inner {
  text-align: center;
  padding:30px;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  /*font-family: "Canela Web", Helvetica, sans-serif;*/
  /*font-family: "euclid_flex", Helvetica, sans-serif;*/
  font-family: "Larsseit-Light", Helvetica, sans-serif;
  text-transform: uppercase;
  padding-left:25px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 13px;
  color: #777; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #393a3d;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #393a3d;
  border-bottom-color: #393a3d;
}

.featurette {
  margin-top:20px;
  a {
    display: block;
    max-width: 100%;
  }
}
.lead {
  font-family: "euclid_flex", Helvetica, sans-serif;
  text-align: left;
}
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
  font-family: "euclid_flex", Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
}

.cm-row {
  display: block;
  justify-content: center;
  align-items:center;
}
.cm-7 {
  width: 70%;
}
.cm-3 {
  width:30%;
}
.cm-5 {
  width:100%;
}
.cm-row-content {
  padding:10%;
  text-align: center;
  a {
    font-family: "euclid_flex", Helvetica, sans-serif;
    text-decoration: underline;
    font-weight:bold;
    color: #393a3d;
  }
}

.album-list img {
  width: 100%;
}


#grid[data-columns]::before {
  content: '3 .column.size-1of3';
}

.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of1 img {
  width:100%;
  padding: 10px;
}
.size-1of2 { width: 50%; }
.size-1of2 img {
  width:100%;
  padding: 10px;
}
.size-1of3 { width: 33.333%; }
.size-1of3 img {
  width:100%;
  padding: 10px;
}

.info-container {
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  background: rgba(0,0,0,0.5);
  text-align: center;
  opacity: 0;
  transition: all ease .25s;
}

.info-container:hover {
  opacity: 50;
}

.info-description {
  font-family: "euclid_flex", Helvetica, sans-serif;
  line-height: 2;
  color: #fff;
  padding: 5%;
  hr {
    width: 5%;
    height: 5px;
    border-top: 5px solid #F7F7F7;
  }
}

/* RESPONSIVE
-------------------------------------------------- */

/* under 480px
-------------------------------------------------- */

@media screen and (max-width: 480px){
  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
  .info-description {
    line-height: inherit;
  }
  .featurette-heading {
    font-size: 2.1rem;
    position: relative;
  }
  .lead {
    max-width: 93%;
  }
}

/* between 481px and 768px
-------------------------------------------------- */

@media screen and (min-width: 481px) and (max-width: 768px) {
  #grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}

/** DESKTOP **/
@media (min-width: 768px) {
  #grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }

  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .featurette-heading {
    letter-spacing: 8px;
    font-size: 3.5rem;
    text-align: left;
  }
  .category-heading {
    text-align: center;
  }
  .featurette {
    margin-top:60px;
  }
  .lead {
    line-height: 2.9;
    font-size: 1.3rem;
    letter-spacing: .6rem;
    font-weight: 300;
    text-align: left;
  }
  .category-lead {
    margin-bottom:10%;
  }
  .cm-row {
    display: flex;
    margin-bottom:200px;
  }
  .cm-5 {
    width:50%;
  }
  .first-el {
    order:1;
  }
  .second-el {
    order:2;
  }
  .cm-row-content {
    text-align: left;
  }
}